*.csv filter=lfs diff=lfs merge=lfs -text
data/raw_data/creditcard.csv filter=lfs diff=lfs merge=lfs -text
data/processed_data/creditcard_prepared.csv filter=lfs diff=lfs merge=lfs -text
data/train/train_data.csv filter=lfs diff=lfs merge=lfs -text
